:root {
  --color-Primary: #eb2f64;
  --color-Primary-light: #FF3366;
  --color-Primary-dark: #BA265D;
  --color-Grey-light-1: #faf9f9;
  --color-Grey-light-2: #f4f2f2;
  --color-Grey-light-3: #f0eeee;
  --color-Grey-light-4: #ccc;
  --color-Grey-dark-1: #333;
  --color-Grey-dark-2: #777;
  --color-Grey-dark-3: #999;
  --line: 1px solid var(--color-Grey-light-2);
  --shadow: 0 2rem 5rem rgba(0, 0, 0, .06); }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.35); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 50.625em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 46.25em) {
    html {
      font-size: 53.125%; } }
  @media only screen and (max-width: 43.75em) {
    html {
      font-size: 50%; } }

body {
  background-image: linear-gradient(to right bottom, var(--color-Primary-light), var(--color-Primary-dark));
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-weight: 400;
  line-height: 1.6;
  font-family: "Open Sans", sans-serif;
  color: var(--color-Grey-dark-2); }

.paragraph {
  font-size: 1.4rem; }
  .paragraph:not(:last-of-type) {
    margin-bottom: 2rem; }

.list {
  list-style: none;
  font-size: 1.4rem;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: var(--line);
  border-bottom: var(--line);
  display: flex;
  flex-flow: wrap; }
  @media only screen and (max-width: 28.125em) {
    .list {
      flex-flow: column; } }
  .list__item {
    flex: 0 0 50%;
    margin-top: .7rem; }
    .list__item::before {
      content: "";
      width: 1rem;
      height: 1rem;
      display: inline-block;
      margin-right: .7rem;
      background-image: url(../img/chevron-thin-right.svg);
      background-size: cover; }
      @supports (-webkit-mask-image: url()) or (mask-image: url()) {
        .list__item::before {
          background-color: var(--color-Primary);
          -webkit-mask-image: url(../img/chevron-thin-right.svg);
          -webkit-mask-size: cover;
          mask-image: url(../img/chevron-thin-right.svg);
          mask-size: cover;
          background-image: none; } }

.btn {
  position: relative;
  padding: 2rem 7.5rem;
  border-radius: 10rem;
  border: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #fff;
  background-image: linear-gradient(to right, var(--color-Primary-light), var(--color-Primary-dark));
  overflow: hidden;
  transition: all .2s;
  animation: pulsate 1s infinite; }
  .btn > * {
    display: inline-block;
    height: 100%;
    width: 100%;
    transition: all .2s; }
  .btn span:first-child {
    position: absolute;
    left: 0;
    transform: translateY(-5rem); }
  .btn:hover {
    background-image: linear-gradient(to left, var(--color-Primary-light), var(--color-Primary)); }
    .btn:hover span:first-child {
      transform: translateY(0); }
    .btn:hover span:last-child {
      transform: translateY(5rem); }
  .btn:focus {
    animation: none; }
    .btn:focus span:first-child {
      transform: translate(0); }
    .btn:focus span:last-child {
      visibility: hidden; }
  .btn--link {
    display: inline-block;
    border: none;
    font-size: 1.4rem;
    color: var(--color-Primary);
    background-color: transparent;
    border-bottom: 1px solid currentColor;
    padding-bottom: 3px;
    cursor: pointer;
    transition: all .2s; }
    .btn--link span {
      margin-left: .3rem;
      transition: margin-left .2s; }
    .btn--link:hover {
      color: var(--color-Grey-dark-1); }
      .btn--link:hover span {
        margin-left: .5rem; }
    .btn--link:focus {
      outline: none;
      animation: pulsate 1s infinite; }

.cta {
  text-align: center;
  font-size: 2rem;
  margin: .7rem 0;
  padding: .7rem 0; }
  @media only screen and (max-width: 28.125em) {
    .cta {
      margin-bottom: 5rem; } }

.cta__text {
  font-weight: 300;
  color: var(--color-Grey-dark-3);
  margin-bottom: 2rem; }

.gallery {
  display: flex; }
  .gallery__photo {
    width: 100%;
    display: block; }

.hamburger {
  display: none; }
  @media only screen and (max-width: 34.375em) {
    .hamburger {
      display: block; } }
  .hamburger__input {
    display: none; }
    .hamburger__input:checked ~ .hamburger__label span::before {
      transform: rotate(135deg);
      top: 0; }
    .hamburger__input:checked ~ .hamburger__label span {
      background-color: transparent; }
    .hamburger__input:checked ~ .hamburger__label span::after {
      transform: rotate(-135deg);
      top: 0; }
    .hamburger__input:checked ~ .hamburger__background {
      width: 80%; }
      @media only screen and (max-width: 28.125em) {
        .hamburger__input:checked ~ .hamburger__background {
          width: 100vw; } }
    .hamburger__input:checked ~ .hamburger-bar {
      right: 20%; }
      @media only screen and (max-width: 28.125em) {
        .hamburger__input:checked ~ .hamburger-bar {
          right: 15%; } }
    .hamburger__input:checked ~ .hamburger__overlay {
      display: inline-block; }
  .hamburger__label {
    display: inline-block;
    text-align: center;
    background-color: var(--color-Grey-light-1);
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 13rem;
    right: 1rem;
    z-index: 1000; }
    .hamburger__label span {
      display: inline-block;
      width: 3.5rem;
      height: .2rem;
      border-radius: 1000px;
      background-color: var(--color-Grey-dark-1);
      top: 50%;
      position: relative;
      transition: all .1s; }
      .hamburger__label span::before, .hamburger__label span::after {
        content: "";
        display: inline-block;
        border-radius: 1000px;
        width: 3.5rem;
        height: .2rem;
        position: absolute;
        background-color: var(--color-Grey-dark-1);
        left: 0;
        transition: all .3s; }
      .hamburger__label span::before {
        top: -1rem; }
      .hamburger__label span::after {
        top: 1rem; }
  .hamburger__background {
    width: 0;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-image: radial-gradient(var(--color-Primary-light), var(--color-Grey-dark-1));
    z-index: 100;
    transition: all .8s; }
  .hamburger-bar {
    position: fixed;
    top: 35%;
    right: -60%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    transition: right .4s .1s; }
    @media only screen and (max-width: 28.125em) {
      .hamburger-bar {
        right: -100%; } }
    .hamburger-bar__nav {
      list-style: none; }
    .hamburger-bar__item {
      position: relative;
      z-index: 10000; }
      .hamburger-bar__item:not(:last-child) {
        margin-bottom: 1rem; }
      .hamburger-bar__item::before {
        content: "";
        width: 2%;
        height: 100%;
        display: block;
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        transform: scaleY(0);
        transition: transform 0.2s, width 0.4s cubic-bezier(1, -0.09, 0.08, 1.03) 0.2s, background-color 0.1s; }
      .hamburger-bar__item:hover::before, .hamburger-bar__item:first-child::before {
        transform: scaleY(1);
        width: 100%; }
      .hamburger-bar__item:active::before {
        background-color: var(--color-Primary-light); }
    .hamburger-bar__link:link, .hamburger-bar__link:visited {
      color: var(--color-Grey-dark-1);
      font-size: 1.4rem;
      text-decoration: none;
      text-transform: uppercase;
      display: block;
      padding: 1.5rem 3rem;
      position: relative;
      display: flex;
      align-items: center; }
    .hamburger-bar__icon {
      margin-right: 1.5rem;
      width: 1.75rem;
      height: 1.75rem;
      fill: currentColor; }
  .hamburger__overlay {
    display: none;
    position: fixed;
    background-color: transparent;
    backdrop-filter: blur(1.5px);
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 10; }

body.no-scroll {
  overflow: hidden; }

.hotel__overview {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid var(--color-Grey-light-2); }
  @media only screen and (max-width: 28.125em) {
    .hotel__overview {
      flex-flow: wrap; } }

.hotel__heading {
  font-size: 2.25rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: inherit;
  padding: 1.5rem 3.5rem; }
  @media only screen and (max-width: 34.375em) {
    .hotel__heading {
      padding: 1rem;
      font-size: 1.8rem; } }

.hotel__rating {
  margin-right: auto;
  display: flex; }

.hotel__icon {
  width: 1.75rem;
  height: 1.75rem;
  fill: var(--color-Primary); }
  @media only screen and (max-width: 34.375em) {
    .hotel__icon {
      width: 1.2rem;
      height: 1.2rem;
      margin-right: .3rem; } }

.hotel__location {
  font-size: inherit;
  color: var(--color-Primary);
  display: flex; }
  @media only screen and (max-width: 34.375em) {
    .hotel__location {
      font-size: 1.2rem; } }

.hotel__rating-score {
  display: flex;
  flex-flow: column;
  align-self: stretch;
  align-items: center;
  justify-content: center;
  padding: 0 2.25rem;
  margin-left: 3rem;
  background-color: var(--color-Primary); }
  @media only screen and (max-width: 34.375em) {
    .hotel__rating-score {
      margin-left: 1.3rem;
      padding: 0 1rem; } }
  @media only screen and (max-width: 28.125em) {
    .hotel__rating-score {
      margin-left: 0; } }
  .hotel__rating-score span {
    font-size: 2.25rem;
    font-weight: 300;
    color: #fff; }
    @media only screen and (max-width: 34.375em) {
      .hotel__rating-score span {
        font-size: 1.3rem; } }
  .hotel__rating-score span:last-child {
    font-size: .9rem;
    margin-top: -.3rem; }

.logo {
  height: 3.5rem;
  margin-left: 2rem; }

.recommendation {
  display: flex;
  align-items: center; }
  .recommendation__count {
    font-size: 1.3rem;
    color: var(--color-Grey-dark-3); }
  .recommendation__friends {
    margin-left: auto; }
    @media only screen and (max-width: 43.75em) {
      .recommendation__friends {
        display: flex; } }
  .recommendation__photo {
    box-sizing: content-box;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 3px solid #fff;
    margin-right: -2rem; }

.review {
  padding: 3rem;
  margin-right: 4.5rem;
  box-shadow: var(--shadow);
  font-size: 1.4rem;
  background-color: #fff;
  margin-bottom: 3rem;
  overflow: hidden; }
  @media only screen and (max-width: 75em) {
    .review {
      margin-right: 2rem; } }
  @media only screen and (max-width: 38.75em) {
    .review {
      margin-right: 0;
      margin-bottom: 2rem;
      width: 100%; } }
  .review__text {
    margin-bottom: 2rem;
    position: relative;
    z-index: 1; }
    .review__text::before {
      content: "\201C";
      font-size: 20rem;
      color: var(--color-Grey-light-3);
      font-family: sans-serif;
      position: absolute;
      top: -12.5rem;
      left: -4rem;
      z-index: -1; }
  .review__user-box {
    display: flex;
    align-items: center; }
  .review__user-photo {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%; }
  .review__user-details {
    font-size: 1.2rem;
    margin-left: 1.5rem;
    margin-right: auto; }
  .review__user-name {
    text-transform: uppercase;
    font-weight: 700; }
  .review__rating-count {
    color: var(--color-Primary);
    font-size: 2.2rem;
    font-weight: 100; }

.search {
  display: flex;
  justify-content: center;
  flex: 0 0 40%; }
  .search__input {
    width: 90%;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    border-radius: 100px;
    border: none;
    padding: 1rem 2rem;
    background-color: var(--color-Grey-light-2);
    margin-right: -3.5rem;
    transition: all .2s; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-Grey-light-3); }
    .search__input:focus ~ .search__button {
      background-color: var(--color-Grey-light-3); }
    .search__input::placeholder {
      color: var(--color-Grey-light-4); }
    @media only screen and (max-width: 34.375em) {
      .search__input {
        border-radius: unset; } }
  .search__button {
    border: none;
    background-color: var(--color-Grey-light-2);
    transition: all .2s; }
    .search__button:active {
      transform: translateY(3px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-Grey-dark-3); }
  @media only screen and (max-width: 34.375em) {
    .search {
      order: 1;
      flex: 0 0 100%;
      background-color: var(--color-Grey-light-2); } }

.side-bar__nav {
  list-style: none;
  margin-top: 3.5rem; }
  @media only screen and (max-width: 61.875em) {
    .side-bar__nav {
      display: flex;
      margin: 0;
      justify-content: space-between; } }

.side-bar__item {
  position: relative; }
  .side-bar__item:not(:last-child) {
    margin-bottom: 1rem; }
    @media only screen and (max-width: 61.875em) {
      .side-bar__item:not(:last-child) {
        margin: 0; } }
  .side-bar__item::before {
    content: "";
    width: 2%;
    height: 100%;
    display: block;
    background-color: var(--color-Primary);
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, -0.09, 0.08, 1.03) 0.2s, background-color 0.1s; }
  .side-bar__item:hover::before, .side-bar__item:first-child::before {
    transform: scaleY(1);
    width: 100%; }
  .side-bar__item:active::before {
    background-color: var(--color-Primary-light); }

.side-bar__link:link, .side-bar__link:visited {
  color: var(--color-Grey-light-1);
  font-size: 1.4rem;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 1.5rem 3rem;
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 38.75em) {
    .side-bar__link:link, .side-bar__link:visited {
      display: flex;
      flex-flow: column;
      padding: 1.5rem 5rem; } }

.side-bar__icon {
  margin-right: 1.5rem;
  width: 1.75rem;
  height: 1.75rem;
  fill: currentColor; }
  @media only screen and (max-width: 38.75em) {
    .side-bar__icon {
      margin-right: 0;
      margin-bottom: .7rem;
      width: 1.5rem;
      height: 1.5rem; } }

.user-nav {
  display: flex;
  align-items: center;
  align-self: stretch; }
  .user-nav__icon-box {
    position: relative;
    padding: 0 2rem;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color .2s; }
    .user-nav__icon-box:hover {
      background-color: var(--color-Grey-light-2); }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-Grey-dark-2); }
  .user-nav__notification-num {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: var(--color-Primary);
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    position: absolute;
    top: 1.3rem;
    right: 1rem; }
  .user-nav__photo {
    width: 3.75rem;
    border-radius: 50%; }
  .user-nav__user-name {
    font-size: 1.4rem;
    margin-left: .5rem; }

.container {
  max-width: 120rem;
  min-height: 50rem;
  margin: 8rem auto;
  background-color: var(--color-Grey-light-1);
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3); }
  @media only screen and (max-width: 75em) {
    .container {
      margin: 0; } }
  @media only screen and (max-width: 34.375em) {
    .container {
      background-image: linear-gradient(to bottom, #fff, 15%, var(--color-Grey-light-1)); } }

.content {
  display: flex; }
  @media only screen and (max-width: 61.875em) {
    .content {
      flex-flow: column; } }

.side-bar {
  background-color: var(--color-Grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-flow: column;
  justify-content: space-between; }
  @media only screen and (max-width: 34.375em) {
    .side-bar {
      display: none; } }

.copyright {
  padding: 1rem;
  margin-bottom: 3.5rem; }
  @media only screen and (max-width: 61.875em) {
    .copyright {
      display: none; } }
  .copyright__text {
    font-size: 1.2rem;
    text-align: center;
    color: var(--color-Grey-light-4); }

.description {
  display: flex;
  padding: 4.5rem 0 1.5rem;
  background-color: var(--color-Grey-light-1); }
  @media only screen and (max-width: 38.75em) {
    .description {
      flex-flow: column;
      border-bottom: var(--line);
      padding: 2rem 0 1.5rem; } }

.details {
  background-color: #fff;
  margin-right: 4.5rem;
  padding: 3rem;
  flex: 0 0 60%;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06); }
  @media only screen and (max-width: 38.75em) {
    .details {
      margin-right: 0;
      margin-bottom: 2rem; } }

.header {
  background-color: #fff;
  border-bottom: 1px solid var(--color-Grey-light-2);
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 34.375em) {
    .header {
      flex-flow: wrap;
      align-content: space-around;
      height: 15rem; } }
  @media only screen and (max-width: 34.375em) {
    .header {
      margin-bottom: 3rem;
      border-bottom: unset; } }

.hotel-view {
  flex: 1; }

.user-reviews {
  flex: 1;
  display: flex;
  flex-flow: column;
  align-items: center; }
