.search {
    display: flex;
    justify-content: center;
    flex: 0 0 40%;

    &__input {
        width: 90%;
        font-family: inherit;
        font-weight: inherit;
        font-size: inherit;
        color: inherit;
        border-radius: 100px;
        border: none;
        padding: 1rem 2rem;
        background-color: var(--color-Grey-light-2);
        margin-right: -3.5rem;
        transition: all .2s;



        &:focus {
            outline: none;
            width: 100%;
            background-color: var(--color-Grey-light-3);
        }

        &:focus~.search__button {
            background-color: var(--color-Grey-light-3);

        }

        &::placeholder {
            color: var(--color-Grey-light-4);
        }

        @media only screen and (max-width: $smallest-1) {
            border-radius: unset;
        }

    }

    &__button {
        border: none;
        background-color: var(--color-Grey-light-2);
        transition: all .2s;

        &:active {
            transform: translateY(3px);
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-Grey-dark-3);



    }


    @media only screen and (max-width: $smallest-1) {
        order: 1;
        flex: 0 0 100%;
        background-color: var(--color-Grey-light-2);
    }


}