  // browser resets
  *,
  *::before,
  *::after {
      margin: 0;
      padding: 0;
      box-sizing: inherit;
  }

  html {
      box-sizing: border-box;
      font-size: 62.5%; // equals 10px

      @media only screen and (max-width: $small) {
          font-size: 56.25%; // 9px
      }

      @media only screen and (max-width: $smaller) {
          font-size: 53.125%; // 8.5px
      }

      @media only screen and (max-width: $smaller-1) {
          font-size: 50%; // 8px;
      }

  }

  body {
      background-image: linear-gradient(to right bottom, var(--color-Primary-light), var(--color-Primary-dark));
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 100vh;
      font-weight: 400;
      line-height: 1.6;
      font-family: "Open Sans", sans-serif;
      color: var(--color-Grey-dark-2);

  }